<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="3.1"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <data-source>
        <name>java:ds/dreamteamDS</name>
        <class-name>com.mysql.cj.jdbc.MysqlDataSource</class-name>
<!--        <url>jdbc:mysql://mysql/dreamteamdb?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>-->
        <url>jdbc:mysql://0.0.0.0:3306/dreamteamdb?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw</url>
        <user>root</user>
        <password>root</password>
    </data-source>

  <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>506</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>507</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>508</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>510</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>511</error-code>
        <location>/error</location>
    </error-page>

</web-app>
